# Enable URL Rewriting
RewriteEngine On

# Redirect all requests not pointing to an actual file to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
RewriteRule ^events$ index.php?route=list_all_events [L,QSA]

